.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: white;
}

.numbers{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;

  
}

.operators{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}